.knowYourFood {
  position: relative;
  line-height: 39px;
  white-space: pre-wrap;
  text-shadow: 0 4px 4px rgba(234, 217, 60, 0.35);
}
.image2RemovebgPreview1Icon,
.wrapperImage2RemovebgPre {
  height: 100%;
  width: 100%;
  position: absolute;
  mix-blend-mode: difference;
}
.image2RemovebgPreview1Icon {
  overflow: hidden;
  object-fit: contain;
  left: 125px;
  top: 4px;
  transform: scale(12.886);
}
.wrapperImage2RemovebgPre {
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-27xl);
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.text {
  height: 30px;
  width: 0;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.wrapperImage2RemovebgPreParent {
  width: 125px;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-23xl) var(--padding-7xs);
  box-sizing: border-box;
  position: relative;
}
.frameWrapper,
.knowYourFoodAppParent,
.wrapperImage2RemovebgPreParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameWrapper {
  height: 131px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-19xl);
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-doppio-one);
}
.knowYourFoodAppParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frameChild {
  height: 36px;
  width: 133px;
  position: relative;
  border-radius: var(--br-7xl);
  display: none;
}
.scan {
  height: 30px;
  width: 53px;
  position: relative;
  display: inline-block;
  text-shadow: -1px 5px 16.8px #000;
  z-index: 1;
}
.appInfoInner,
.vectorParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.vectorParent {
  width: 133px;
  box-shadow: 0 4px 35.5px rgba(0, 0, 0, 0.53);
  border-radius: var(--br-7xl);
  background-color: var(--color-mediumpurple-200);
  justify-content: flex-start;
  padding: var(--padding-10xs) var(--padding-19xl);
  box-sizing: border-box;
  cursor: pointer;
}
.appInfoInner {
  align-self: stretch;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-11xl);
  font-size: var(--font-size-5xl);
  color: var(--color-gray);
  font-family: var(--font-doppio-one);
}
.appInfo {
  width: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-27xl);
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--font-fredoka-one);
}
@media screen and (max-width: 325px) {
  .appInfo {
    gap: var(--gap-4xl);
  }
}
