.passwordPlaceholder {
  width: calc(100% - 53px);
  border: 0;
  outline: 0;
  background-color: var(--color-gainsboro);
  height: 44px;
  flex: 1;
  box-shadow: 0 4px 34px rgba(0, 0, 0, 0.45);
  border-radius: var(--br-3xl);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-3xl) var(--padding-4xs);
  box-sizing: border-box;
  font-family: var(--font-doppio-one);
  font-size: var(--font-size-xl);
  color: var(--color-plum);
  min-width: 196px;
  max-width: 102%;
  flex-shrink: 0;
}
.image11 {
  height: 46px;
  width: 48px;
  position: relative;
  object-fit: cover;
  min-height: 46px;
  z-index: 1;
  margin-left: -53px;
}
.passwordLabel {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.forgetPassword {
  position: relative;
  line-height: 17px;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.69);
}
.forgotPassword,
.passwordField,
.passwordInput {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.forgotPassword {
  flex-direction: row;
  padding: 0 var(--padding-3xl);
}
.passwordField,
.passwordInput {
  max-width: 100%;
}
.passwordInput {
  flex: 1;
  flex-direction: column;
}
.passwordField {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-sm) 0 var(--padding-6xs);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gold);
  font-family: var(--font-exo-2);
}
